<% layout('/layouts/boilerplate')%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h3 style="text-align: center;">Edit Listing</h3>
            <form action="/listings/<%= listing.id %>?_method=put" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" class="form-control" name="listing[title]" value="<%= listing.title %>"  required>  
                    <div class="invalid-feedback">
                        Update the title so guests know what your place offers.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea type="text" class="form-control" name="listing[description]" required><%= listing.description %> </textarea>
                    <div class="invalid-feedback">
                        Tell guests a bit more about your place.
                    </div>
                </div>
                <div class="mb-3">
                    Current Listing Image:
                    <div class="mt-2" style="max-width: 320px;">
                        <img src="<%= originalImageUrl %>"
                        class="card-img-top rounded"
                            alt="Current listing image"
                        >
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image:</label>
                    <input type="file" class="form-control" name="listing[image]">
                    <div class="invalid-feedback">
                        Provide a Image of less than 10MB.
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price:</label>
                        <input type="number" class="form-control" name="listing[price]" value="<%= listing.price %>"  required>
                        <div class="invalid-feedback">
                            Enter the updated valid nightly price in INR.
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location:</label>
                        <input type="text" class="form-control" name="listing[location]" value="<%= listing.location %>"  required>
                        <div class="invalid-feedback">
                            Where is your place located?
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country:</label>
                    <input type="text" class="form-control" name="listing[country]" value="<%= listing.country %>"  required>
                    <div class="invalid-feedback">
                        Helps guests find your listing in the right region.
                    </div>
                </div>
                <br>
                <button class="btn btn-dark">Submit</button> <br> <br>
            </form>       
        </div>
    </div>
</body>