<% layout('/layouts/boilerplate')%>
<body>
    <style>
        #filters {
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-left: 1rem;
        }
        .filter{
            text-align: center;
            margin-right: 2rem;
            opacity: 0.8;
        }
        .filter:hover, .tax-toggle:hover, .filter-switch:hover{
            opacity:1;
            cursor:pointer;
        }
        .filter p{
            font-size: 0.8rem;
        }
        .tax-info {
            display: none;
        }
        .tax-toggle, .filter-switch {
            border: 1px solid black ;
            border-radius: 1rem;
            height: 3rem;
            margin: -10px 0.75rem 0.5rem 0;
            padding: 3px 12px 8px 12px;
            opacity: 0.9;
        }
        .filter-switch {
            padding-top: 0.75rem;
        }
    </style>
    <div id="filters">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Hills</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>Beach</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>
        <div class="filter">
            <div><i class="fa-brands fa-bluesky"></i></div>
            <p>Nature</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-cable-car"></i></div>
            <p>OMG!</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-hotel"></i></div>
            <p>Hotels</p>
        </div>
        <div class="filter">
            <div><i class="fa-brands fa-fort-awesome-alt"></i></div>
            <p>Forts</p>
        </div>
        <div class="filter">
            <div><i class="fa-brands fa-periscope"></i></div>
            <p>Hot</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-tree"></i></div>
            <p>Jungle</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-archway"></i></div>
            <p>Cities</p>
        </div>
        <div class="filter-switch">
            <div><i class="fa-solid fa-sliders"></i> Filters</div>
        </div>
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch mt-2">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
            </div>
        </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 mt-3">
        <%for(let listing of allListings){%>
            <a href="/listings/<%= listing.id %>" class="listing-link">
                <div class="card col listing-card" >
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="<%=listing.title%>" style="height: 20rem;">
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= listing.title %></b> <br>
                            &#x20B9;<%= listing.price.toLocaleString("en-IN")%> / night
                            <i class="tax-info">&nbsp; + 18% GST</i>
                        </p>
                    </div>
                    <!-- <div class="card-img-overlay"> -->
                        <!-- <h5 class="card-title">Guest favourite</h5> -->
                    <!-- </div> -->
                </div>          
            </a>
        <%}%>
    </div>
    <script>
        let taxSwitch = document.getElementById("flexSwitchCheckDefault");
        taxSwitch.addEventListener("click", ()=>{
            let taxInfo = document.getElementsByClassName("tax-info");
            for(info of taxInfo) {
                if( info.style.display != "inline" ) {
                    info.style.display = "inline";
                } else {
                    info.style.display = "none";
                }
            }
        })
    </script>
</body>